<!-- #basicTable 相当于 ref -->
<nz-table
  #basicTable
  [nzFrontPagination]="false"
  [nzLoading]="isLoading"
  [nzData]="employeeList"
  [(nzPageIndex)]="page"
  [nzPageSize]="limit"
  [nzTotal]="total"
  (nzPageIndexChange)="getEmployeeList()"
>
  <thead>
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>性别</th>
      <th>手机</th>
      <th>邮箱</th>
      <th>入职时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let data of basicTable.data;
        let i = index;
        trackBy: employeeTrackById
      "
    >
      <td>{{ i }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.email }}</td>

      <!-- date angular自带的时间过滤器 -->
      <td>{{ data.joinDate | date: "yyyy-MM-dd" }}</td>
      <td>
        <a>修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="确认删除吗?"
          (nzOnConfirm)="delEnter(data.id)"
          nzPopconfirmPlacement="bottom"
          >删除</a
        >
      </td>
    </tr>
  </tbody>
</nz-table>
